$headerHeight: 80px;

.homeContainer {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  height: $headerHeight;
  width: 100%;
  background-color: #24519d;
  display: flex;
  justify-content: space-around;


  img {
    height: $headerHeight;
    width: auto;
    flex: 0 0 auto;
  }
}